.chart-bar-container {
    display: flex;
    justify-content: center;
}



.chart {
    width: 70%;
    margin-top: 15px;
    padding: 1rem;
    border-radius: 12px;
    background-color: #211f61;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    color: white;
    font-size: 20px;
}