.ExpenceForm {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-form {
    background-color: rgb(87, 107, 185);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 18px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.form-label,
.form-input {
    padding: 6px 4px;
    border-radius: 5px;
}

.input-btn {
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}