.expences {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(112, 112, 225);
    border-radius: 7px;
    background-color: rgb(101, 101, 193);
    color: white;
    width: 90%;
    padding: 15px;
}