* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    background-color: rgb(28, 27, 107);
    color: white;

}


.header-text {
    font-size: 25px;
    font-style: italic;
}