.expences {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2p solid blue;
    background-color: rgb(17, 17, 63);
    color: white;
    width: 40%;
}